/* Base formatting */
html {
  font-size: 2vh;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #0c0c0c;
  color: #eee;
}

header {
  color: #eee;
  padding-top: 3em;
  padding-bottom: 0em;
  text-align: center;
}

main {
  padding: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

/* Table formatting */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  width: 88%;
  max-width: 1600px;
  background-color: #0c0c0c;
}

th,
td {
  border: 1px solid #2d2d2d;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 0.5em;
}

tr {
  border: 0.05em;
  padding: 0.5em;
}

/* Make table columns fixed width */
table.fixed {
  /* margin: 0 auto; */
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  width: 88%;
  max-width: 1600px;
  background-color: #0c0c0c;
  table-layout: fixed;
  overflow: auto;
}

/* Table headers */
.header {
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0.8em;
  width: 88%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.DLRHeader {
  background-color: #00afa9;
}

.ELZHeader {
  background-color: #773dbd;
}

.JUBHeader {
  background-color: #7b868c;
}

/* Status message (No data) */
.status {
  font-weight: normal;
  font-size: 1em;
}

/* Loading animation */
.loading {
  width: 2.5em;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #FFF 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1.5s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}

/* Hyperlinks */
a:link {
  color: #FFF;
  background-color: transparent;
}

a:visited {
  color: #FFF;
  background-color: transparent;
}

a:hover {
  color: #FFF;
  background-color: transparent;
}

a:active {
  color: #FFF;
  background-color: transparent;
}
