name: Deploy TfL Live Arrivals to GitHub Pages

on:
  push:
    branches: [main]
    paths:
      - "showcases-tfl-live-arrivals/**"
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pages: write # to deploy to Pages

env:
  APP_HOME: showcases-tfl-live-arrivals

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dinghydev/setup-dinghy@v1
        with:
          prepare-images: site
      - run: dinghy site build
      - uses: actions/upload-pages-artifact@v3
        id: deployment
        with:
          path: showcases-tfl-live-arrivals/output/site/
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
